header {
    margin: 0 auto;
font-size: 28px;
text-align: center;
width: 1024px;
color: black;
background-color:#FFE4E1;
border: 2px solid#A52A2A;
}
main {
    margin: 0 auto;
font-size: 18px;
width: 1024px;
height: 393px;
color: black;
background-color:#E9967A;
border: 2px solid #A52A2A;
}
footer
{
    margin: 0 auto;
    padding: 2px 0 2px 0;
font-size: 16px;
font-style: italic;
text-align: center;
width: 1024px;
color: black;
background-color:#FFE4E1;
border: 2px solid #A52A2A;
}
#avatarMS {
padding: 10px 25px 10px 10px;
float: left; 
}
